html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

button {
  margin-top: 16px;
}

#container {
  width: 500px;
  height: 500px;
  display: flex;
  border: 2px solid black;
  flex-wrap: wrap;
}

#container > div {
  border: 1px solid hsla(0, 0%, 50%, 0.4);
}

.highlighted {
  background-color: hsl(0, 0%, 50%);
}