html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: hsl(240, 1%, 86%);
}

h1 {
  margin-top: 56px;
}

button {
  font: inherit;
  border: none;
  border-radius: 8px;
  background-color: hsl(0, 8%, 21%);
  color: hsl(0, 0%, 94%);
  padding: 8px 16px;
}

button:hover {
  background-color: hsl(0, 8%, 24%);
}

#container {
  width: 500px;
  height: 500px;
  display: flex;
  border: 2px solid black;
  flex-wrap: wrap;
}

#container > div {
  border: 1px solid hsla(0, 0%, 50%, 0.4);
}

.highlighted {
  background-color: black;
}